.parambox {
    width: 40%;
    margin: auto;
    margin-bottom: 5%;
    border: none;
    border-radius: 5px;
    padding: 5px;
}

.parambox::placeholder {
    color: #707070;
}

.parambox:invalid {
    border: 1px solid red;
}

.parambox:focus:invalid {
    border: none;
}